LLM_PROVIDER=zhipu
ZHIPU_API_KEY=your_zhipu_api_key_here
ZHIPU_BASE_URL=https://open.bigmodel.cn/api/paas/v4
ZHIPU_MODEL=glm-4.5-air
ZHIPU_THINKING=disabled
ZHIPU_MAX_TOKENS=900
ZHIPU_TEMPERATURE=0.55
ZHIPU_TIMEOUT=18
